.slider {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 225px !important;
  background-color: #ddd;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  color: #000;
  font-size: 18px;
}
.slide-text {
  min-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 7%;
  color: #000;
  font-size: 18px;
}

.slider button {
  color: #000000;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.slider button.prev {
  left: 20px;
}

.slider button.next {
  right: 20px;
}

.menu-drop-res {
  position: absolute;
  left: -90%;
}

.dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
  border: 1px solid black;
}

.dot.active {
  background-color: #fff;
}

/* Button Styling */
.btn-gray {
  height: 35px;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

/* Optional hover effect */
.btn-gray:hover {
  background-color: #f0f0f0; /* Slightly gray background on hover */
}

.px-4-5 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.video-play {
  height: 300px;
}

.landing {
  background: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated-box {
  width: 200px;
  margin-top: -50px;
  height: 200px;
  background-color: #d3d3d3;
  border: 2px solid #333;
  border-radius: 10px;
  transform: rotate(-15deg);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-gray-call {
  font-weight: 700;
  height: auto;
  width: auto;
  background-color: white;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 21px;
}

.call-paragraph {
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}

.schedule {
  height: 180px;
}

/* footer start  */
.container-cards {
  border-radius: 10px;
  overflow: hidden;
}

footer h5,
footer h6 {
  font-weight: bold;
}

footer p,
footer a {
  font-size: 14px;
}

footer .btn-outline-dark {
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  border: 2px solid #000;
}

footer hr {
  border: 1px solid #ddd;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style: none;
}

footer .bi {
  font-size: 20px;
  color: #000000;
}

footer .bi:hover {
  color: #007bff;
}

.icons-footer {
  height: 20px;
  width: 23px;
}

.list-unstyled a {
  text-decoration: none;
}

.footer-container-left {
  margin-left: 64px;
}

.bottom-service {
  width: 29%;
}

.bottom-service-hr {
  width: 60%;
}

/* footer end  */

/* CSS for the rotated image */
/* CSS for the rotated image */
.rotate-img-container {
  transform: rotate(-15deg);
  margin-top: 38px;
  margin-left: 77px;
}

/* Slider container */
.slider-content {
  height: 400px;
  background-image: url("/slider-images1.jpg"), url("/slider-images2.jpg");
  background-size: cover, cover; /* Adjust sizes as needed */
  background-position: center center, center center; /* Adjust positions as needed */
  background-repeat: no-repeat, no-repeat;
}

/* Add to slider.css */
.bg-slider-bg1 {
  background-image: url("/slider-images1.jpg");
  background-size: cover;
  background-position: center;
}

.bg-slider-bg2 {
  background-image: url("/slider-images2.jpg");
  background-size: cover;
  background-position: center;
}

/* Positioning buttons */
.prev,
.next {
  z-index: 10;
}

/* Adjust text and content */
.container-cards {
  position: relative;
  z-index: 2;
  padding-top: 40px;
}

.rotate-cards {
  margin-left: 11%;
  margin-top: -8%;
}

.second-slide-text {
  margin-left: 11%;
  margin-top: -8%;
  width: 80%;
}

.footer-second-container {
  margin-left: 11%;
}

.menu-res {
  margin-top: -1px;
  margin-left: 0;
}

@media (min-width: 768px) {
  .menu-res {
    margin-left: -230px;
  }
}

@media screen and (max-width: 767px) {
  .menu-drop-res {
    position: absolute;
    left: 0%;
  }

  .footer-second-container {
    margin-left: 1%;
  }

  .footer-third-container {
    margin-left: 11%;
  }

  .slider-content {
    width: 91%;
  }
  .btn-offer {
    margin-left: 1px !important;
    margin-top: 20px;
  }
  .bottom-service-hr {
    width: 90%;
  }

  .bottom-service {
    width: 90%;
  }

  .IndustriesServed {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
  }

  .footer-container-left {
    margin-left: 2px;
  }

  .px-4-5 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .box-third {
    display: flex;
    flex-direction: column;
  }

  .box-third-container {
    width: 100%;
  }

  .rotate-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 125px;
    margin-left: -5px;
  }

  .slider-container {
    height: 400px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-container {
    width: 100%;
  }
  .w-241 {
    width: 85%;
    margin-left: 30px;
  }

  .btn-res {
    margin-left: 30px;
    margin-top: 20px;
  }

  .rotated-box {
    width: 169px;
    margin-top: -50px;
    height: 171px;
    background-color: #d3d3d3;
    border: 2px solid #333;
    border-radius: 10px;
    transform: rotate(-15deg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .text-res {
    margin-top: 15px;
    width: 94%;
  }

  .res-nav a {
    text-align: center;
    padding-top: 24px;
  }

  .res-nav svg {
    margin: auto;
  }
  .slider-container {
    position: relative;
    width: 100%;
    height: 450px !important;
    background-color: #ddd;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1920px) and (min-height: 1080px) {
  .slide {
    min-width: 100%;
    padding-left: 15% !important;
  }

  .text-res {
    margin-top: 15px;
    width: 88%;
  }

  .header-res {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  /* .res-desktop {
    padding-left: 15rem;
    padding-right: 15rem;
  } */
  .res-ebook {
    width: 90%;
  }

  .marketing {
    width: 91%;
  }
}


@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.slide-in {
  animation: slideInUp 0.8s ease-out forwards;
}
