@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-gray {
  height: 35px;
  width: 280px;
  background-color: white;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marketing-heading{
font-size: 38px;
}

.marketing-description{
font-size: 30px;
}

.hero-description{
  font-size: 25px;
  }

.marketing-span{
  font-size: 25px;
  margin-top: 20px;
  }

.marketing-btn{
font-size: 21px;
}


@media screen and (max-width: 767px) {
  .marketing-heading{
    font-size: 24px;
    }
    
    .marketing-description{
    font-size: 18px;
    }
    
    .marketing-span{
      font-size: 16px;
      margin-top: 20px;
      }
    
    .marketing-btn{
    font-size: 16px;
    }

    .hero-description{
      font-size: 18px;
      }

      .bottom-service-hr {
        width: 100%;
    }
    
}